@{
    ViewBag.Title = "CustomerContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Detail</h2>

<h4></h4>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <td id="ContName"></td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td id="ContEmail"></td>
                </tr>
                <tr>
                    <th>
                        Contact Number
                    </th>
                    <td id="ContContactNo"></td>
                </tr>
                <tr>
                    <th>
                        Created on
                    </th>
                    <td id="ContCreationdate"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-3">
            <form action="/CustomerContact/CustomerContactEdit" class="btn" id="editBtn">
                <input type="submit" value="Edit Contact">
            </form>
        </div>
        <div class="col-lg-3 col-xs-3">
            <form action="/CustomerContact/CustomerContactDelete" class="btn" id="deleteBtn">
                <input type="submit" value="Delete Contact">
            </form>
        </div>
    </div>
</div>

<br />

<script>
    var json;
    var URLItems = window.location.pathname.split('/');
    var ContID = URLItems[3];

    var pathArray = window.location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    var HomeUrl = protocol + '//' + host + '/';

    var APIUrl = HomeUrl + 'api/customerContactAPI/' + ContID;
    var ContactURL = 'CustomerContact/CustomerContact/';

    $(document).ready(function () {
        $.getJSON(APIUrl, function (jd) {
            json = jd;
            
            var DateArray = json.DateCreated.split('T');
            var Date = DateArray[0];

            $('#ContName').text(json.Name);
            $('#ContEmail').text(json.Email);
            $('#ContContactNo').text(json.ContactNumber);
            $('#ContCreationdate').text(Date);
        });

        $('#editBtn').each(function () {
            $(this).attr("action", $(this).attr("action") + '/' + ContID);
        });

        $('#deleteBtn').each(function () {
            $(this).attr("action", $(this).attr("action") + '/' + ContID);
        });
    });
</script>
