@{
    ViewBag.Title = "CustomerContactCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Contact</h2>

<div class="row">
    <div class="col-lg-5 col-xs-5">
        <h3>Create New Contact For Customer: </h3>
    </div>
    <div class="col-lg-2 col-xs-2">
        <h3 id="CustName"></h3>
    </div>
</div>

<div class="container">

    <br />
    <form id="inputForm">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Name</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inName" placeholder="Contact Name" type="text" minlength="2" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Email</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inEmail" placeholder="Email" type="email" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Customer Number</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inContact" placeholder="Contact Number" type="number" minlength="10" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <input type="submit" value="Create New Contact">

    </form>
        <br />
</div>

<script>
    var json;

    var URLItems = window.location.pathname.split('/');
    var CustID = URLItems[3];

    var pathArray = window.location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    var HomeUrl = protocol + '//' + host + '/';

    var APIUrl = HomeUrl + 'api/customerContactAPI/';
    var CustomerAPIUrl = HomeUrl + 'api/customerAPI/' + CustID;;
    var CustomerURL = HomeUrl + 'Customer/Customer/' + CustID;
    var CustomerID = '';
    var CustomerName = '';
    
    $(document).ready(function () {
        $.getJSON(CustomerAPIUrl, function (jd) {
            json = jd;
            CustomerID = json.ID;
            CustomerName = json.Name;
            $('#CustName').text(CustomerName);

            console.log(CustomerID);
            console.log(CustomerName);

        });
    });

    $('#inputForm').on('submit',function (e) {

        e.preventDefault();
        var Name = $('#inName').val();
        var Email = $('#inEmail').val();
        var ContactNo = $('#inContact').val();

        var Contact = { Name: Name, Email: Email, ContactNumber: ContactNo, CustomerID: CustomerID };

        $.ajax({
            url: APIUrl,
            type: 'POST',
            data: Contact,
            success: function (result) {
                alert('Contact Created');
                window.location.replace(CustomerURL);
            },
            error: function (result) {
                alert('Fail');
                window.location.replace(CustomerURL);
            }
        });
    });

</script>