@model CustomerContactManager.Models.CustomerContact

@{
    ViewBag.Title = "CustomerContactEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Contact</h2>

<div class="container">

<br />
    <form id="inputForm">
        <div class="row">
            <div class="form-group" id="inputForm">
                <label class="control-label col-lg-2">Name</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inName" placeholder="Customer Name" type="text" minlength="2" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Email</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inEmail" placeholder="Email" type="email" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Customer Number</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inContact" placeholder="Customer Contact" type="number" minlength="10" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <input type="submit" value="Edit Customer Contact">

    </form>
        <br />

</div>

<script>
    var json;

    var URLItems = window.location.pathname.split('/');
    var ContID = URLItems[3];

    var pathArray = window.location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    var HomeUrl = protocol + '//' + host + '/';

    var CustomerAPIURL = HomeUrl + 'api/customerAPI/';
    var APIUrl = HomeUrl + 'api/customerContactAPI/' + ContID;
    var CustomerURL = HomeUrl + 'Customer/Customer/';

    $(document).ready(function () {
        $.getJSON(APIUrl, function (jd) {

            json = jd;
            console.log(json);

            $('#inName').val(json.Name);
            $('#inEmail').val(json.Email);
            $('#inContact').val(json.ContactNumber);

        });

        $.getJSON(APIUrl, function (jd) {

            json = jd;
            console.log(json);

            $('#inName').val(json.Name);
            $('#inEmail').val(json.Email);
            $('#inContact').val(json.ContactNumber);

        });

        $('#inputForm').on('submit',function (e) {

            e.preventDefault();
            var Name = $('#inName').val();
            var Email = $('#inEmail').val();
            var ContactNo = $('#inContact').val();
           
            var Contact = { ID: ContID, Name: Name, Email: Email, ContactNumber: ContactNo };

            $.ajax({
                url: APIUrl,
                type: 'POST',
                data: Contact,
                success: function (result) {
                    alert('Contact Edited');
                    window.location.replace(HomeUrl);
                },
                error: function (result) {
                    alert('Fail');
                    window.location.replace(HomeUrl);
                }
            });
        });
    });
</script>


