@{
    ViewBag.Title = "CustomerCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Customer</h2>

<br />

<div class="container">
    
    <br />
    <form id="inputForm">
        <div class="row">
            <label class="control-label col-lg-2">Name</label>
            <div class="col-md-10">
                <div class="col-lg-3">
                    <input class="text-box single-line" id="inName" placeholder="Customer Name" type="text" minLength ="2" required/>
                </div>
            </div>

        </div>

        <br />

        <div class="row">
            <label class="control-label col-lg-2">Latitude</label>
            <div class="col-md-10">
                <div class="col-lg-3">
                    <input class="text-box single-line" id="inLatitudeDegrees" placeholder="Degrees" type="number" required />
                </div>
                <div class="col-lg-3">
                    <input class="text-box single-line" id="inLatitudeMinutes" placeholder="Minutes" type="number" required />
                </div>
                <div class="col-lg-3">
                    <input class="text-box single-line" id="inLatitudeSeconds" placeholder="Seconds" type="number" required />
                </div>
            </div>
        </div>

        <br />

        <div class="row">

                <label class="control-label col-md-2">Longitude</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeDegrees" placeholder="Degrees" type="number" required />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeMinutes" placeholder="Minutes" type="number" required />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeSeconds" placeholder="Seconds" type="number" required />
                    </div>
                </div>

        </div>

        <input type="submit" value="Create New Customer">

    </form>
    <br />

    @*<div class="row">
        <div class="col-lg-3 col-xs-3">
            <button id="btnCreate">Create Customer</button>
        </div>
    </div>*@

</div>

<script>
    var json;

    var URLItems = window.location.pathname.split('/');
    var CustID = URLItems[3];
    var APIUrl = 'http://localhost:64881/api/customerAPI/';
    var ClientUrl = 'http://localhost:64881/';
    var ContactURL = 'CustomerContact/CustomerContact/';

    $('#inputForm').validate();

    $('#inputForm').valid();

    $('#inputForm').submit(function () {

        var Name = $('#inName').val();
        var LatDeg = $('#inLatitudeDegrees').val();
        var LatMin =  $('#inLatitudeMinutes').val();
        var LatSec =  $('#inLatitudeSeconds').val();
        var LongDeg =  $('#inLongitudeDegrees').val();
        var LongMin =  $('#inLongitudeMinutes').val();
        var LongSec = $('#inLongitudeSeconds').val();

        var Latitude = LatDeg + ',' + LatMin + ',' + LatSec;
        var Longitude = LongDeg + ',' + LongMin + ',' + LongSec;
        var Customer = {Name: Name, Latitude: Latitude, Longitude: Longitude};

        console.log('working');

        $.ajax({
            url: APIUrl,
            type: 'POST',
            data: Customer,
            success: function (result) {
                alert('Customer Created');
                window.location.replace(ClientUrl);
            },
            error: function (result) {
                alert('Fail');
                window.location.replace(ClientUrl);
            }
        });
        
        
        //});
    });

</script>


