@{
    ViewBag.Title = "CustomerEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

<div class="container">

    <br />
    <form id="inputForm">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Name</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inName" placeholder="Customer Name" type="text" minlength="2" required />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">Latitude</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLatitudeDegrees" placeholder="Degrees" type="number" />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLatitudeMinutes" placeholder="Minutes" type="number" />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLatitudeSeconds" placeholder="Seconds" type="number" />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">Longitude</label>
                <div class="col-md-10">
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeDegrees" placeholder="Degrees" type="number" />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeMinutes" placeholder="Minutes" type="number" />
                    </div>
                    <div class="col-lg-3">
                        <input class="text-box single-line" id="inLongitudeSeconds" placeholder="Seconds" type="number" />
                    </div>
                </div>
            </div>
        </div>

        <br />

        <input type="submit" value="Edit Customer">

    </form>
<br />

</div>

<script>
    var json;

    var URLItems = window.location.pathname.split('/');
    var CustID = URLItems[3];

    var pathArray = window.location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    var HomeUrl = protocol + '//' + host + '/';

    var APIUrl = HomeUrl + 'api/customerAPI/' + CustID;
    var CustomerURL = HomeUrl + 'Customer/Customer/' + CustID;

    $(document).ready(function () {
        $.getJSON(APIUrl, function (jd) {
            
            json = jd;
            console.log(json);
            var LatitudeArr = json.Latitude.split(',');
            var LongitudeArr = json.Longitude.split(',');
            

            $('#inName').val(json.Name);

            $('#inLatitudeDegrees').val(LatitudeArr[0]);
            $('#inLatitudeMinutes').val(LatitudeArr[1]);
            $('#inLatitudeSeconds').val(LatitudeArr[2]);

            $('#inLongitudeDegrees').val(LongitudeArr[0]);
            $('#inLongitudeMinutes').val(LongitudeArr[1]);
            $('#inLongitudeSeconds').val(LongitudeArr[2]);

        });

        $('#inputForm').on('submit',function (e) {

            e.preventDefault();
            var Name = $('#inName').val();
            var Latitude = $('#inLatitudeDegrees').val() + ',' + $('#inLatitudeMinutes').val() + ',' + $('#inLatitudeSeconds').val();
            var Longitude = $('#inLongitudeDegrees').val() + ',' + $('#inLongitudeMinutes').val() + ',' + $('#inLongitudeSeconds').val();
            var Customer = { ID: CustID, Name: Name, Latitude: Latitude, Longitude: Longitude };

            console.log(Customer);

            $.ajax({
                url: APIUrl,
                type: 'POST',
                data: Customer,
                success: function (result) {
                    alert('Customer Edited');
                    window.location.replace(CustomerURL);
                },
                error: function (result) {
                    alert('Fail');
                    window.location.replace(CustomerURL);
                }
            });
        });
    });
</script>


