@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Info</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <td id="CustName"></td>
                </tr>
                <tr>
                    <th>
                        Longitude
                    </th>
                    <td id="CustLong"></td>
                </tr>
                <tr>
                    <th>
                        Latitude
                    </th>
                    <td id="CustLat"></td>
                </tr>
                <tr>
                    <th>
                        Created on
                    </th>
                    <td id="CustCreationdate"></td>
                </tr>

            </table>

            <div class="row">
                <div class="col-lg-3 col-xs-3">
                    <form action="/Customer/CustomerEdit" class="btn" id="editBtn">
                        <input type="submit" value="Edit Customer">
                    </form>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <form action="/Customer/CustomerDelete" class="btn" id="deleteBtn">
                        <input type="submit" value="Delete Customer">
                    </form>
                </div>
            </div>
    </div>
        
    </div>
    <br />

    <h4>Cutomer Contacts</h4>
    <row>
        <div class="col-lg-6 col-xs-6">
            <table id="contactTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </row>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-3">
        <form action="/CustomerContact/CustomerContactCreate" class="btn" id="createBtn">
            <input type="submit" value="Create New Contact">
        </form>
    </div>
</div>

<br />

<script>
    var json;
    var URLItems = window.location.pathname.split('/');
   
    var pathArray = window.location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    var HomeUrl = protocol + '//' + host + '/';

    var CustID = URLItems[3];
    var APIUrl = HomeUrl + 'api/customerAPI/' + CustID;
    var ContactURL = 'CustomerContact/CustomerContact/';

    $(document).ready(function () {
        $.getJSON(APIUrl, function (jd) {

            json = jd;

            var DateArray = json.DateCreated.split('T');
            var Date = DateArray[0];

            $('#CustName').text(json.Name);
            $('#CustLat').text(json.Latitude);
            $('#CustLong').text(json.Longitude);
            $('#CustCreationdate').text(Date);

            var contacts = json.CustomerContacts;

            $.each(contacts, function (index, model) {

                var dateArr = model.DateCreated.split('T');
                var date = dateArr[0];

                $('#contactTable > tbody:last').append('<tr"><td><a href="' + HomeUrl + ContactURL + model.ID + '">'
                    + model.Name + '</a></td><td>'
                    + model.Email + '</td><td>'
                    + model.ContactNumber + '</td><td>'
                    + date + '</td></tr>');
            });

        });

        $('#editBtn').each(function () {
            $(this).attr("action", $(this).attr("action") + '/' + CustID);
        });

        $('#deleteBtn').each(function () {
            $(this).attr("action", $(this).attr("action") + '/' + CustID);
        });

        $('#createBtn').each(function () {
            $(this).attr("action", $(this).attr("action") + '/' + CustID);
        });
    });
</script>


