<br />

<div class="row">
    <div class="col-xs-3 col-lg-3">
        <form action="/Customer/CustomerCreate" class="btn">
            <input type="submit" value="Create New Customer">
        </form>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="row">
            <table id="custTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody id="custTableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<br />

<script>
    var json;
    var HomeUrl = window.location.href;
    var CustomerURL = HomeUrl + 'customer/customer/';
    var CustomerAPIUrl = HomeUrl + 'api/customerAPI';

    $(document).ready(function () {
        $.getJSON(CustomerAPIUrl, function (jd) {
            console.log(HomeUrl);
            json = jd;

            $.each(json, function (index, model) {
                
                var dateArr = model.DateCreated.split('T');
                var date = dateArr[0];

                $('#custTable > tbody:last').append('<tr"><td><a href="' + CustomerURL + model.ID + '">'
                    + model.Name + '</a></td><td>'
                    + model.Latitude + '</td><td>'
                    + model.Longitude + '</td><td>'
                    + date + '</td></tr>');
            });
        });
    });
</script>
